ul.navbar {
    list-style-type: none;
    background-color: #f7f7f7;
    padding: 0;
    width: 195px; 
    position: fixed;
    top: 58px;
    left: 0;
    height: 100%;
    overflow: auto;
}

ul.navbar li {
    text-align: center; 
    padding: 10px;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
}

ul.navbar li a {
    text-decoration: none;
    color: black;
}

ul.navbar li a:hover {
    background-color: #555;
}

.proyectos {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


ul.proyectos {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.proyectos li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.proyectos img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 15px;
    margin-left: 15px;
}

.proyectos a {
    display: inline;
    margin-left: -20px;   
}


.navbar-right {
    list-style-type: none;
    background-color: #f7f7f7;
    padding: 0;
    width: 195px;
    position: fixed;
    top: 58Px;
    right: 0; 
    height: 100%;
    overflow: auto;
}

.navbar-right li {
    text-align: center;
    padding: 10px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-right li a {
    text-decoration: none;
    color: black;
}

.navbar-right li a:hover {
    background-color: #555;
}

.video-section {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: -20px;
}

.video-section h1 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.video-section iframe {
    width: 130%;
    max-width: 200%;
    margin-left: -130px;
    height: 500px; /* Cambia este valor según tus necesidades */
    top: 50px;
}

.video-section video {
    width: 130%;
    max-width: 200%;
    margin-left: -130px;
    height: 500px; /* Cambia este valor según tus necesidades */
    top: 50px;
}


.live{
    max-width: 150px;
    height: auto; 
}

.titulovideo{
    display: flex;
    margin-left: 200px;

}

.cuentaregresiva {
    text-align: center;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
    width: 300px;
    margin: 50px auto; 
}

.cuentaregresiva h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.cuentaregresiva #timer {
    font-size: 36px;
    color: #000000;
    margin-top: 20px; 
}

.titulovideo_espera{
    display: flex;
    margin-left: 200px;
    margin-top: 80px; 
}
