body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 300px;
    padding: 60px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 5px #ccc;
    text-align: center; 
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
    text-align: left; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%; 
    text-align: center;
    margin-top: 10px;
}


